.committee-container {
  margin-top: 30px;
  padding: 0 3%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.committee-container .text {
  text-align: left;
  width: 80ch;
}

.committee-container .head {
  font-size: 18pt;
}

.resources {
  margin-top: 20px;
}

.com-btn-grp {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 5px;
}

.resources button {
  background-color: #eee;
  padding: 5px 20px;
  width: 230px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: filter 500ms;
}

.resources button:hover {
  filter: brightness(0.95);
}

.resources button:focus {
  outline: none;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top:20px;
}


.chair img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 1165px) {
  .committee-container .text {
    order: 2;
    padding: 20px;
    width: 100%;
  }
}

#spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: coral;
  border-bottom-color: coral;
  animation: spinner 0.7s ease infinite;
}

#spinner {
  height: 100vh;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14pt;
}

@keyframes spinner {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}